body {
    font-family: 'Roboto', Arial, Helvetica;
    color: #212121;
}

ul, li, h1, h2, h3, h4, p, img {
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

@import "./utils/variables";
@import "./components/logo";
@import "./components/page-header";
@import "./components/page-footer";
@import "./components/index-hero";
@import "./components/index-qualities";
@import "./components/index-we-do";
@import "./components/index-team";
@import "./components/index-clients";
@import "./components/portfolio";