.qualities-section {
    padding-top: 97px;
    padding-bottom: 91px;
    & h2 {
        display: none;
    }
}

.quality-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.quality-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.qualities {
    display: flex;
    justify-content: space-between;
    & li {
        width: 270px;
    }
}

.details-attention-pict,
.punctuality-pict,
.planning-pict,
.uptodate {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .details-attention:hover & {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .punctuality:hover & {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .planning:hover & {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .up-to-date:hover & {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.quality-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.quality-svg {
    width: 70px;
    height: 70px;
}