.team-members-background {
    background-color: #F5F4FA;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.member-card {
    width: 270px;
    background-color: #ffffff;
    margin-right: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.member-card:nth-child(4n) {
    margin-right: 0;
}

.member-card-description {
    padding-top: 30px;
}

.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}

.member-position {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}



.network-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 30px;
    height: 44px;
    justify-content: center;

}

.network-list li {
    margin: 0px;
    padding: 0;
    height: 20px;

}

.network-list li:not(:last-child) {
    margin-right: 10px;
}

.network-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.network-hover:hover {
    background-color: #2196F3;
    cursor: pointer;
}

.network-hover:hover .network-icon {
    fill: #ffffff;
}

.network-hover:focus {
    background-color: #2196F3;
    cursor: pointer;
}

.network-hover:focus .network-icon {
    fill: #ffffff;
}


.network-icon {
    width: 20px;
    height: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
