.client-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    & li {
        margin: 0px;
    }
    & li:not(:last-child) {
        margin-right: 30px;
    }
}

.client-card {
    display: block;
    border: 1px solid $inactive-pict-color;
    border-radius: 4px;
    width: 170px;
    transition: border-color $cubic-standard;
    &:hover, &:focus {
        border-color: $active-color;
        cursor: pointer;
    }
}

.client-pict {
    fill: $inactive-pict-color;
    width: 106px;
    height: 60px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: fill $cubic-standard;
    .client-card:hover & {
        fill: $active-color;
    }
    .client-card:focus & {
        fill: $active-color;
    }
}